iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

#first_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

#second_section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0;
  /* aspect-ratio: 16/9; */
}
